@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-grid-gap {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; /* 32px gap between the first and second column */
   
}

.unavailable-seat {
    filter: saturate(500%);
}

.seat {
    position: relative;
    display: inline-block;
}

.seat.unavailable::before {
    content: "X";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 0, 0, 0.5); /* Red overlay */
    z-index: 1;
}

.seat img {
    position: relative;
    z-index: 0;
}

.hidden {
    display: none;
}

.show {
    display:block;
}